.small-box {
    border-radius: 0.5rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.moving:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.02);
    transition: all 0.4s;
}
.waiting-apply:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.02);
    transition: all 0.4s;
}

.small-box .icon>i.fa,
.small-box .icon>i.fab,
.small-box .icon>i.far,
.small-box .icon>i.fas,
.small-box .icon>i.glyphicon,
.small-box .icon>i.ion {
    font-size: 45px;
    top: 40px;
    color: rgba(51, 51, 51, 0.7);
}

.small-box:hover .icon>i.fa, .small-box:hover .icon>i.fab, .small-box:hover .icon>i.far, .small-box:hover .icon>i.fas, .small-box:hover .icon>i.glyphicon, .small-box:hover .icon>i.ion {
    font-size: 60px;
}

.small-box h4 {
    font-size: 1.8rem;
}

.small-box .icon-active>i.fas {
    color: rgba(255, 119, 5, 0.8);
}
#btnAddTruck{
    color: #007bff;
    position: absolute;
    top: 8rem;
    right: 2rem;
    z-index: 99;
}
.box-header{
    border-bottom: 1px solid;
    font-weight: bold;
    font-size: 1.4rem;
}
.icon-active>i.fas,.icon-active>span{
    color: rgba(255, 119, 5, 0.9);
}
#statusTraffic{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: unset;
}
.card-primary-custome.card-outline {
    border: 3px solid #007bff;
}
.swal2-toast {
    background-color: rgba(255,255,255,1);
}
body.swal2-toast-shown .swal2-container.swal2-center {
    top: 30%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-30%,-50%);
}